body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0;
    padding: 1em;
    background: moz-linear-gradient (f0efeb, fff1e6, fff1e6,ffecd1); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(rgba(253, 253, 246, 0.89),rgba(253, 253, 253, 0.822), rgba(236, 236, 229, 0.863));
    }
.main{
    width: 100%;
    
}

#contain{
    width: 100%;
    color: black;
    align: center;
    

}